body{
	margin: 0;
	width: auto;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main_header {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    background-color: #BF895A;
}

strong {
    color: #592D14;
}

.display_flex {
    display: flex;
    justify-content: center;
	width: 100%;
}

.container_header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

.telefoon_nummer {
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.telefoon_nummer:hover {
    color: #592D14;
}

.address {
    text-decoration: none;
    width: 400px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.address:hover {
    color: #592D14;
}

.social-media_icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 200px;
}

.icon {
    font-size: 1.5rem;
    color: white;
    transition: 0.7s;
}

.icon:hover {
    color: #592D14;
}


.logo {
    width: 200px;
    color: white;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    text-align: right;
    color: white;
    transition: 0.7s;
}

nav ul li {
    display: inline-block;
    padding: 20px
}

.reserveerlink {
    border: 1px solid;
    border-radius: 20px;
    margin-left: 15px;
    transition: 0.7s;
}

.reserveerlink:hover {
    border: #BF895A;
    color: #592D14;
    background-color: #BF895A;
}

form{
	text-align: center;
	margin-top: 12em;
}

img {
    border-radius: 20px;
}

i{
    padding: 1em;
    font-size: 2em;
}
.footer{
    width: auto;
	margin: auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #BF895A;
}

.left3{
    margin-top: 3em;
	margin-left: 5em;
	width: 40%;
    
}
.center3{
    margin-top: 3em;
    width: 30%;
}

.right3{
	width: 40%;
    margin-right: 2em;
    margin-left: 2em;
    
}

iframe{
    border-radius: 20px;
    width: 75%;
}

h1{
    text-align: center;
    
}

tr{
    display: flex;
    justify-content: space-evenly;
    padding-left: 6em;
    
}

td{
    text-align: center;
    width: 25%;
    border: 1px solid #b4b8bf;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.container1{
	width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #bf895a;
}

.container_openingsuren {
    width: 1200px;
    margin: auto;
	margin-bottom: 75px;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #bf895a;
}

.kamers{
	width: 70%;
    height: 400px;
	margin: auto;
	display: flex;
    
	gap: 20px;
	padding: 0px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #bf895a;
}

.beschrijving{
	margin-left: 2em;
	width: 35%;
    background: #d9bca3;
}

.kamerfoto{
	width: 100%;
    background: #d9bca3;
    margin-right: 2em;
}


.main{
	width: 100%;
	
}

.left{
	margin-left: 2em;
	width: 50%;
    background: #d9bca3;
}

.right{
	width: 50%;
    background: #d9bca3;
    margin-right: 2em;
    margin-left: 2em;
}


.background_photo {
    display: flex;
    justify-content: center;
    background-image: url(../img/welkomsnuffel.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 88vh;
}

.background_photo-restaurant {
    display: flex;
    justify-content: center;
    background-image: url(../img/welkomsnuffel.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh
}

.background_photo-hotel{
    display: flex;
    justify-content: center;
    background-image: url(../img/welkomsnuffel.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh
}

.arrow_button {
    display: flex;
    justify-content: center;
    background-color: #BF895A;
}

.arrow {
    color: white;
    padding: 10px 0 70px 0;
    transition: 0.7s;
}

.arrow:hover {
    color: #592D14; 
}

.scroll {
    scroll-margin-top: 20px;
}

.display_flex {
    display: flex;
    justify-content: center;
}

.container_header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

.telefoon_nummer-header {
    
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.telefoon_nummer {
    display: flex;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: black;
    transition: 0.7s;
}

.telefoon_nummer-header:hover {
    color: #592D14;
}

.address {
    text-decoration: none;
    width: 400px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.address:hover {
    color: #592D14;
}

.social-media_icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 200px;
}

.icon {
    font-size: 1.5rem;
    color: white;
    transition: 0.7s;
}

.icon:hover {
    color: #592D14;
}

.container_header {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    text-align: right;
    color: white;
    transition: 0.7s;
}

nav ul li {
    display: inline-block;
    padding: 20px
}

.reserveerlink {
    border: 1px solid;
    border-radius: 20px;
    margin-left: 15px;
    transition: 0.7s;
}

.reserveerlink:hover {
    border: #BF895A;
    color: #592D14;
    background-color: #BF895A;
}

.home_content-sfeerbeelden {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.container_sfeerbeeld {
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.sfeerbeelden_img {
    width: 25%;
    margin-top: 30px;
    
}

.sfeerbeelden_text {
    width: 25%;
    
    margin-top:30px;
    
}

.home_content-infohotel {
    background-color: #BF895A;
    display: flex;
    justify-content: center;
}

.container_info {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.info_hotel {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home_info-hotel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container_infohotel-restaurant {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_hotel {
    width: 50%;
}

.text_hotel {
    width: 45%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.img_restaurant {
    width: 50%;
}

.text_restaurant {
    width: 45%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.sightseeing {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sightseeing_box {
    margin: 0 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #BF895A;
    border-radius: 20px;
    padding-top: 10px;
    font-size: 1rem;
    width: 90%;
}

.sightseeing_titel {
    font-size: 1rem;
}

.sightseeing_titel-belford {
    font-size: 1.4rem;
}

.sightseeing_titel-Sint-Salvatorskerkhof {
    font-size: 1.4rem;
    margin-bottom: 26px;
    margin-top: 26px;
}

.sightseeing_titel-onzelieve_vrouwekerk {
    font-size: 1.3rem;
}

.sightseeing_more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pin {
    font-size: 1rem;
}

.sightseeing_butten {
    border: 1px solid #BF895A;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    color: black;
    transition: 0.7s;
    font-size: 1rem;
}

.sightseeing_butten:hover {
    background-color: #BF895A;
}

.sightseeing_info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background-color: #BF895A;
}

.container_sightseeing {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_sightseeing-info {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sfeerbeelden_box {
    width: 300px;
}


.text_sightseeing {
    width: 90%;
    margin: 0;
}

.img_sightseeing {
    height: 180px;
    border-radius: 20px;
}

.background_hotel-reservatie {
    background-image: url(../img/achtergrond_form_hotel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.form_title {
    color: white;
}

.form_hotel-reservatie {
    display: flex;
    justify-content: center;
}

.container_form-hotel-reservatie {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.hotel_form {
    margin: 0;
    padding: 20px;
    color: 
    white;
}

.aankomst_vertrek {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.aankomst {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.aankomst_label {
    display: flex;
    width: 22%;
    margin-left: 10px;
    font-size: 1rem;
}

.aankomst_label2 {
    display: flex;
    width: 50%;
    margin-left: 10px;
    font-size: 1rem;
}

.aankomst_input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid ;
    border-radius: 10px;
}

.vertrek {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.vertrek_label {
    display: flex;
    width: 28%;
    margin-left: 10px;
    font-size: 1rem;
}

.vertrek_input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid ;
    border-radius: 10px;
}

.kamers_reservatie {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.kamers_label {
    display: flex;
    width: 10%;
    margin-left: 10px;
}

.kamers_select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid ;
    border-radius: 10px;
}

.aantal_personen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.volwassenen {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.kinderen {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.aantal_label {
    display: flex;
    padding: 5px;
    width: 100%;
    margin-left: 10px;
    font-size: 1rem;
}

.aantal_input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.aantal_input-kinderen {
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.eten_reservatie {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.eettijden {
    width: 100%;
}

.eten_input {
    width: 15px;
    height: 15px;
}

.eten_label {
    font-size: 1.2rem;
}

.volgende_pagina {
    width: 100%;
}

.hotel_reservatie-btn {
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}

.container_form_restaurant {
    width: 800px;
    display: flex;
    justify-content: center;
}

.container_form-hotel-reservatie-page2{
    width: 800px;
    display: flex;
    justify-content: center;  
}

.reservatie_title {
    color: white;
}

.hotel_form-page2{
    margin: 0;
    padding: 20px;
    color: white;
}

.restaurant_form {
    margin: 0;
    padding: 20px;
    color: white;
}

.gegevens_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.naam_label {
    width: 10%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.naam_input {
    padding: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.nummer_label {
    width: 17.5%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.nummer_input {
    padding: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.email_label {
    width: 15%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.email_input {
    padding: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.adress_gegevens_3wide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.straatnaam_box {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.straatnummer_box {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.bus_box {
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.straatnaam_label {
    width: 50%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.straatnaam_input {
    padding: 5px;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
}

.straatnummer_label {
    width: 50%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.straatnummer_input {
    padding: 5px;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
}

.bus_label {
    width: 50%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.bus_input {
    padding: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.postcode-gemeente_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.postcode_box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gemeente_box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.postcode_label {
    width: 17%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.postcode_input {
    padding: 5px;
    width: 95%;
    border: 1px solid;
    border-radius: 10px;
}

.gemeente_label {
    width: 19%;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    display: flex;
}

.gemeente_input {
    padding: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.error {
    color: red;
    
}

.naam_error {
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}

.achternaam_error {
    color: red;
    margin-left: 20px;
    margin-top: 5px;
}

.eettijden_error {
    color: red;
    width: 100%;
}