body{
	margin: 0;
	width: auto;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.main_header {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

strong {
    color: #592D14;
}

.display_flex {
    display: flex;
    justify-content: center;
	width: 100%;
}

.container_header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

.telefoon_nummer {
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.telefoon_nummer:hover {
    color: #592D14;
}

.address {
    text-decoration: none;
    width: 400px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.address:hover {
    color: #592D14;
}

.social-media_icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 200px;
}

.icon {
    font-size: 1.5rem;
    color: white;
    transition: 0.7s;
}

.icon:hover {
    color: #592D14;
}

.container_header {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    color: white;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    text-align: right;
    color: white;
    transition: 0.7s;
}

nav ul li {
    display: inline-block;
    padding: 20px
}

.reserveerlink {
    border: 1px solid;
    border-radius: 20px;
    margin-left: 15px;
    transition: 0.7s;
}

.reserveerlink:hover {
    border: #BF895A;
    color: #592D14;
    background-color: #BF895A;
}

form{
	text-align: center;
	margin-top: 12em;
}

img {
    border-radius: 20px;
}

i{
    padding: 1em;
    font-size: 2em;
}
.footer{
    width: auto;
	margin: auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #BF895A;
}

.left3{
    margin-top: 3em;
	margin-left: 5em;
	width: 40%;
    
}
.center3{
    margin-top: 3em;
    width: 30%;
}

.right3{
	width: 40%;
   
    margin-right: 2em;
    margin-left: 2em;
    
}

iframe{
    border-radius: 20px;
    width: 75%;
}



h1{
    text-align: center;
    
}

tr{
    display: flex;
    justify-content: space-evenly;
    padding-left: 6em;
    
}

td{
   
   text-align: center;
    width: 25%;
    border: 1px solid #b4b8bf;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
}


.container1{
	width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #bf895a;
}

.container_openingsuren {
    width: 1200px;
    margin: auto;
	margin-bottom: 75px;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border: 5px solid #8c6d51;
	padding-bottom: 2em;
    padding-top: 2em;
    background: #bf895a;
}

.main{
	width: 100%;
	
}

.left{
	margin-left: 2em;
	width: 50%;
    background: #d9bca3;
}

.right{
	width: 50%;
    background: #d9bca3;
    margin-right: 2em;
    margin-left: 2em;
}

.main_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #BF895A;
}

.background_photo {
    display: flex;
    justify-content: center;
    background-image: url(/img/header_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
}

.display_flex {
    display: flex;
    justify-content: center;
}

.container_header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

.telefoon_nummer-header {
    
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.telefoon_nummer {
    display: flex;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: black;
    transition: 0.7s;
}

.telefoon_nummer-header:hover {
    color: #592D14;
}

.address {
    text-decoration: none;
    width: 400px;
    text-align: center;
    color: white;
    transition: 0.7s;
}

.address:hover {
    color: #592D14;
}

.social-media_icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 200px;
}

.icon {
    font-size: 1.5rem;
    color: white;
    transition: 0.7s;
}

.icon:hover {
    color: #592D14;
}

.container_header {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    text-align: right;
    color: white;
    transition: 0.7s;
}

nav ul li {
    display: inline-block;
    padding: 20px
}

.reserveerlink {
    border: 1px solid;
    border-radius: 20px;
    margin-left: 15px;
    transition: 0.7s;
}

.reserveerlink:hover {
    border: #BF895A;
    color: #592D14;
    background-color: #BF895A;
}

.home_content-sfeerbeelden {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container_sfeerbeeld {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.sfeerbeelden_img {
    height: 250px;
    margin-top: 30px;
}

.sfeerbeelden_text {
    width: 600px;
    margin:30px;
    text-align: center;
}

.home_content-infohotel {
    background-color: #BF895A;
    display: flex;
    justify-content: center;
}

.container_info {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.info_hotel {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home_info-hotel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container_infohotel-restaurant {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_hotel {
    width: 50%;
}

.text_hotel {
    width: 50%;
    text-align: center;
}

.img_restaurant {
    width: 50%;
}

.text_restaurant {
    width: 50%;
}

.sightseeing {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sightseeing_box {
    margin: 0 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 1px solid #BF895A;
    border-radius: 20px;
    padding-top: 10px;
}

.sightseeing_info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.container_sightseeing {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sfeerbeelden_box {
    width: 300px;
}


.text_sightseeing {
    width: 300px;
}

.img_sightseeing {
    height: 180px;
    border-radius: 20px;
}